/* Font 1 */
@font-face {
    font-family: 'KHInterference-Regular';
    src: url('KHInterferenceTRIAL-Regular.otf') format('opentype');
}

/* Font 2 */
@font-face {
    font-family: 'KHInterference-Light';
    src: url('KHInterferenceTRIAL-Light.otf') format('opentype');
}

/* Font 3 */
@font-face {
    font-family: 'KHInterference-Bold';
    src: url('KHInterferenceTRIAL-Bold.otf') format('opentype');
}

/* Reset a základ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'KHInterference-Regular', sans-serif; /* defaultně Regular */
}

/* --- NOVÉ TŘÍDY NA PŘEPÍNÁNÍ FONTŮ --- */
.font-regular {
  font-family: 'KHInterference-Regular', sans-serif;
}

.font-light {
  font-family: 'KHInterference-Light', sans-serif;
}

.font-bold {
  font-family: 'KHInterference-Bold', sans-serif;
}

/* --- TLAČÍTKA --- */
.btn-discord {
  background: #5865F2;
  color: white;
  padding: 8px 15px;
  border-radius: 6px;
  font-weight: bold;
  transition: background 0.3s;
  font-family: 'KHInterference-Regular', sans-serif; /* základní font */
}

.btn-discord:hover {
  background: #4752c4;
}

.btn-primary {
  background: #c00;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
  font-family: 'KHInterference-Bold', sans-serif; /* základně Bold */
}

.btn-primary:hover {
  background: #a00;
}
